@model WebApp.Models.Home
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<div class="container col-sm-8">
    <div class="border">
        <h2 class="bg-primary" style="padding: 0.5em;">Fabricantes</h2>

        @if (Model.Fabricantes.Count() == 0)
        {
            <p>Não há fabricantes</p>
        }

        <ul class="list-group">
            @foreach (var fabricante in Model.Fabricantes)
            {
                <li class="list-group-item">
                    @Html.ActionLink(fabricante.Nome, "Details", "Fabricantes", new { id = fabricante.FabricanteId }, null)
                </li>
            }
        </ul>

        @Html.ActionLink("Criar", "Create", "Fabricantes", null, new { @class = "btn btn-primary" })
    </div>

    <div class="border">
        <h2 class="bg-primary" style="padding: 0.5em;">Categorias</h2>

        @if (Model.Categorias.Count() == 0)
        {
            <p>Não há categorias</p>
        }

        <ul class="list-group">
            @foreach (var categoria in Model.Categorias)
            {
                <li class="list-group-item">
                    @Html.ActionLink(categoria.Nome, "Details", "Categorias", new { id = categoria.CategoriaId }, null)
                </li>
            }
        </ul>

        @Html.ActionLink("Criar", "Create", "Categorias", null, new { @class = "btn btn-primary" })
    </div>
</div>

@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#home-li').addClass("active");
        });
    </script>
}
